.breadcrum {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 600;
  margin: 60px 170px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.breadcrum img {
  width: 14px;
  height: 14px;
  object-fit: contain;
}

/* 1280px breakpoint */
@media (max-width: 1280px) {
  .breadcrum {
  margin: 50px 120px;
  font-size: 15px;
  gap: 9px;
}

  .breadcrum img {
  width: 13px;
  height: 13px;
}
}

/* 1024px breakpoint */
@media (max-width: 1024px) {
  .breadcrum {
  margin: 35px 70px;
  font-size: 14px;
  gap: 7px;
}

  .breadcrum img {
  width: 12px;
  height: 12px;
  }
}

/* 800px breakpoint */
@media (max-width: 800px) {
    .breadcrum {
    margin: 30px 40px; 
    font-size: 13px;
    gap: 6px;
    }
  .breadcrum img {
    width: 11px;
    height: 11px;
 }
}

/* 500px breakpoint */
@media (max-width: 500px) {
   .breadcrum {
    flex-wrap: wrap;
    margin: 15px 10px;
    font-size: 12px;
    gap: 5px;
   }
 .breadcrum img {
    width: 10px;
    height: 10px;
 }
}
